### Data Cleaning

Using the pandas library in python, we are importing csv files as DataFrames and combining them into a larger dataset to use for visualizations and analysis.

In [1]:
import pandas as pd

#### Tax Rates 2005-2022

In [21]:
df_tax = pd.read_csv("data05-22/taxrates.csv")
df_tax = df_tax.round(2) 
df_tax = df_tax.drop(columns=['STATE','2023']) #dropping STATE and 2023 to keep in line with remaining datasets and for easier merge later on.
df_tax

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50
1,Alaska,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.34,5.34,5.34,5.34,5.34,5.34,5.34,5.34
2,Arizona,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.50,5.50,5.50,4.90,4.90,4.90,4.90,4.90,4.90
3,Arkansas,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.87,3.65
4,California,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84
5,Colorado,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.63,4.55,4.55
6,Connecticut,7.50,7.50,7.50,7.50,7.50,7.50,7.50,9.00,9.00,9.00,9.00,9.00,9.00,8.25,7.50,7.50,7.50,7.50
7,Delaware,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70,8.70
8,Florida,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,4.46,4.46,5.50
9,Georgia,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,5.75,5.75,5.75,5.75
10,Hawaii,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40,5.40
11,Idaho,7.60,7.60,7.60,7.60,7.60,7.60,7.60,7.60,7.40,7.40,7.40,7.40,7.40,7.40,6.92,6.92,6.92,6.00
12,Illinois,7.30,7.30,7.30,7.30,7.30,7.30,9.50,9.50,9.50,9.50,7.75,7.75,7.75,9.50,9.50,9.50,9.50,9.50
13,Indiana,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.00,7.50,6.50,6.50,6.25,6.00,5.75,5.50,5.25,4.90
14,Iowa,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,8.10,8.10
15,Kansas,4.00,4.00,5.68,5.68,5.52,5.52,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50,5.50
16,Kentucky,6.05,5.33,5.33,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
17,Louisiana,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,5.33
18,Maine,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17
19,Maryland,7.00,7.00,7.00,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25
20,Massachusetts,9.50,9.50,9.50,9.50,9.50,8.80,8.25,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00
21,Michigan,1.90,1.90,1.90,4.95,4.95,4.95,0.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00
22,Minnesota,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80,9.80
23,Mississippi,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,3.00,3.00,3.00,3.00,3.00
24,Missouri,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,4.00,4.00,4.00
25,Montana,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75
26,Nebraska,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70,6.70
27,Nevada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,New Hampshire,8.88,8.88,8.88,8.88,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.20,8.20,7.70,7.70,7.70,7.60
29,New Jersey,7.67,7.67,7.67,7.67,7.67,9.00,9.00,9.00,9.00,9.00,7.67,7.67,9.00,9.00,8.62,8.38,8.62,8.62
30,New Mexico,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.17,5.93,5.93,5.83,5.35,5.35,5.35,5.35,5.35
31,New York,7.50,7.50,7.50,7.10,7.10,7.10,7.10,7.10,7.10,7.10,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.88
32,North Carolina,6.90,6.90,6.90,6.90,6.90,6.90,6.90,6.90,6.90,6.00,4.00,4.00,3.00,3.00,2.50,2.50,2.50,2.50
33,North Dakota,5.14,5.14,5.14,5.04,5.04,4.77,4.58,3.68,3.69,3.25,3.09,3.09,3.09,3.09,3.09,3.09,3.09,3.09
34,Ohio,6.80,6.80,6.80,6.80,0.26,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,Oklahoma,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,4.00
36,Oregon,6.60,6.60,6.60,6.60,7.25,7.25,7.10,7.10,7.10,7.10,7.10,7.10,7.10,7.10,7.10,7.10,7.10,7.10
37,Pennsylvania,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99,9.99
38,Rhode Island,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00
39,South Carolina,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
40,South Dakota,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,Tennessee,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50
42,Texas,0.00,4.50,4.50,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,Utah,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,4.95,4.95,4.95,4.85
44,Vermont,8.51,8.51,7.66,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17
45,Virginia,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00
46,Washington,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
47,West Virginia,9.00,9.00,9.00,8.75,8.50,8.50,8.50,7.75,7.00,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50
48,Wisconsin,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90,7.90
49,Wyoming,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50,District of Columbia,9.98,9.98,9.98,9.98,9.98,9.98,9.98,9.98,9.98,9.98,9.40,9.40,9.00,8.25,8.25,8.25,8.25,8.25

We see that District of Columbia is at the bottom. To maintain consistency, we are sorting all the datasets alphabetically by state so District of Columbia should come after Delaware

In [3]:
df_tax = df_tax.sort_values(by=['State']) #
df_tax = df_tax.reset_index(drop=True)
df_tax.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50,6.50
1,Alaska,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.44,5.34,5.34,5.34,5.34,5.34,5.34,5.34,5.34
2,Arizona,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.97,6.50,5.50,5.50,4.90,4.90,4.90,4.90,4.90,4.90
3,Arkansas,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.87,3.65
4,California,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84,8.84

#### Business Applications 2005-2022

In [4]:
df_biz = pd.read_csv('data05-22/biz_apps_new.csv')
df_biz.head()

,Name,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,AL,31078,33918,33701,32222,29221,29916,28994,29694,29331,29574,31506,34286,36760,41948,41478,58557,75443,70750
1,Alaska,AK,4730,5229,5138,4979,4396,4661,5083,5210,5383,5447,5901,6358,7263,9238,8118,8063,8063,8456
2,Arizona,AZ,56547,63067,64673,62972,58279,57926,57837,55305,55516,56401,57176,61448,67833,73424,76539,89957,113142,115080
3,Arkansas,AR,19133,20400,19630,18707,17927,17843,17939,17812,17551,18445,19033,20445,23135,25678,25473,32314,41599,37562
4,California,CA,271636,286652,286737,271606,249246,256436,270057,268103,278014,293443,303657,312636,326592,364807,364924,438554,519236,485954

#### Population by State 2005-2022

In [5]:
df_pop = pd.read_csv("data05-22/population_bystate.csv")
df_pop.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,4569805,4628981,4672840,4718206,4757938,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,5031362,5049846,5074296
1,Alaska,666946,675302,680300,687455,698895,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732923,734182,733583
2,Arizona,5839077,6029141,6167681,6280362,6343154,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7179943,7264877,7359197
3,Arkansas,2781097,2821761,2848650,2874554,2896843,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3014195,3028122,3045637
4,California,35827943,36021202,36250311,36604337,36961229,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39501653,39142991,39029342

In [23]:
df_est = df_pop.copy()

In [34]:
df_est['growth rate'] = ((df_pop['2022'] - df_pop['2020'])/df_pop['2021'])/2 #2 years of growth

df_est['2023'] = (df_est['2022'] *(1+df_est['growth rate']))
df_est = df_est.drop(columns=['growth rate'])
df_est.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Alabama,4569805,4628981,4672840,4718206,4757938,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,5031362,5049846,5074296,5.095867e+06
1,Alaska,666946,675302,680300,687455,698895,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732923,734182,733583,7.339127e+05
2,Arizona,5839077,6029141,6167681,6280362,6343154,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7179943,7264877,7359197,7.449988e+06
3,Arkansas,2781097,2821761,2848650,2874554,2896843,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3014195,3028122,3045637,3.061449e+06
4,California,35827943,36021202,36250311,36604337,36961229,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39501653,39142991,39029342,3.879387e+07

In [35]:
df_est.to_csv('estimated_population.csv', index=False)

#### GDP of States 2005-2022

In [6]:
df_gdp = pd.read_csv("data05-22/GDP_bystate.csv")
df_gdp.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.588500e+11,1.664700e+11,1.729800e+11,1.745300e+11,1.709300e+11,1.772500e+11,1.839200e+11,1.892500e+11,1.947900e+11,1.974100e+11,2.023700e+11,2.073700e+11,2.146100e+11,2.238600e+11,2.315600e+11,2.308900e+11,2.541100e+11,2.778200e+11
1,Alaska,4.035700e+10,4.509400e+10,4.958400e+10,5.512300e+10,4.995800e+10,5.333200e+10,5.689600e+10,5.828400e+10,5.724800e+10,5.648500e+10,5.149100e+10,5.072800e+10,5.330200e+10,5.490000e+10,5.472800e+10,5.047500e+10,5.734900e+10,6.361800e+10
2,Arizona,2.279200e+11,2.459600e+11,2.613900e+11,2.629300e+11,2.464200e+11,2.511500e+11,2.609200e+11,2.714400e+11,2.785900e+11,2.876700e+11,2.993900e+11,3.130800e+11,3.320000e+11,3.518800e+11,3.723900e+11,3.820700e+11,4.200300e+11,4.589500e+11
3,Arkansas,9.088800e+10,9.587500e+10,9.838200e+10,9.970700e+10,9.750800e+10,1.014900e+11,1.057700e+11,1.084900e+11,1.132300e+11,1.161400e+11,1.177900e+11,1.191500e+11,1.224700e+11,1.275400e+11,1.315800e+11,1.339700e+11,1.486800e+11,1.652200e+11
4,California,1.698600e+12,1.812200e+12,1.898900e+12,1.944700e+12,1.890200e+12,1.954100e+12,2.023500e+12,2.113100e+12,2.220400e+12,2.335300e+12,2.473600e+12,2.569600e+12,2.728700e+12,2.897200e+12,3.042700e+12,3.020200e+12,3.373200e+12,3.598100e+12

#### Minimum Wage 2005-2022

In [7]:
df_mw = pd.read_csv("data05-22/min_wage.csv")
df_mw = df_mw.drop(columns=['2023']) #dropping 2023 for maintaining consistency
df_mw.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,5.15,5.15,5.15,6.55,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
1,Alaska,7.15,7.15,7.15,7.15,7.25,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84,9.89,10.19,10.34,10.34
2,Arizona,5.15,5.15,6.75,6.90,7.25,7.25,7.35,7.65,7.80,7.90,8.05,8.05,10.00,10.50,11.00,12.00,12.15,12.80
3,Arkansas,5.15,5.15,6.25,6.25,7.25,7.25,7.25,7.25,7.25,7.25,7.50,8.00,8.50,8.50,9.25,10.00,11.00,11.00
4,California,6.75,6.75,7.50,8.00,8.00,8.00,8.00,8.00,8.00,9.00,9.00,10.00,10.50,11.00,12.00,13.00,14.00,15.00

#### Unemployment Rate 2005-2022

In [8]:
df_ur = pd.read_csv('data05-22/Unemployment_rates.csv')
df_ur.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,4.5,4.0,4.0,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9,3.2,6.4,3.4,2.6
1,Alaska,6.9,6.6,6.3,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6,5.6,8.3,6.4,4.0
2,Arizona,4.7,4.2,3.9,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8,4.8,7.8,5.1,3.8
3,Arkansas,5.2,5.2,5.3,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7,3.5,6.2,4.1,3.3
4,California,5.4,4.9,5.4,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,4.8,4.2,4.1,10.1,7.3,4.2

#### Median Household Incomes 2005-2022

In [9]:
df_mhi = pd.read_csv('data05-22/median_household_income.csv')
df_mhi = df_mhi.sort_values(by=['State']).reset_index(drop=True)
df_mhi.head()

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,53550,53170,57660,58600,52890,53420,53900,53970,58050,51140,53880,56660,59980,57720,64010,61650,61390,59910
1,Alaska,80570,79030,86040,84310,81490,75490,72690,79030,88910,81800,90920,90860,91960,79450,89290,84260,87490,89740
2,Arizona,65220,65360,64490,61810,60510,61200,61540,58410,64540,59580,63250,68510,70390,71990,80500,75620,76370,73450
3,Arkansas,52840,51910,55720,52160,48330,50350,52270,48450,48310,54340,51810,55080,58660,57540,62120,57240,54760,53980
4,California,74610,77490,76120,75120,74260,70840,67540,70800,74580,73170,77030,79960,82580,81480,88960,87530,87960,85300

### Merging into single dataset

In [10]:
#adding tax
df = df_tax.melt(id_vars= ['State'])
df = df.rename(columns={"variable":"year", 'value':'tax_rate'})
df = df.sort_values(by=['State','year'])
df = df.reset_index(drop=True)
df.head()

     State  year  tax_rate
0  Alabama  2005       6.5
1  Alabama  2006       6.5
2  Alabama  2007       6.5
3  Alabama  2008       6.5
4  Alabama  2009       6.5

In [11]:
#adding business applications
df_ba = df_biz.melt(id_vars = ['Name', 'State'])
df_ba = df_ba.rename(columns={"variable":"year", 'value':'business_applications'})
df_ba = df_ba.sort_values(by=['State','year']).reset_index(drop=True)

df['business_applications'] = df_ba['business_applications']

In [12]:
#adding GDP
df_gd = df_gdp.melt(id_vars = ['State'])
df_gd = df_gd.rename(columns={"variable":"year", 'value':'gdp'})
df_gd = df_gd.sort_values(by=['State','year']).reset_index(drop=True)

df['gdp'] = df_gd['gdp']

In [13]:
#adding minimum wage
df_mwage = df_mw.melt(id_vars=['State'])
df_mwage = df_mwage.rename(columns={"variable":"year", 'value':'min_wage'})
df_mwage = df_mwage.sort_values(by=['State','year']).reset_index(drop=True)
df['min_wage'] = df_mwage['min_wage']

In [14]:
#adding unemployment
df_ur_new = df_ur.melt(id_vars=['State'])
df_ur_new = df_ur_new.rename(columns={"variable":"year", 'value':'unemployment_rate'})
df_ur_new = df_ur_new.sort_values(by=['State','year']).reset_index(drop=True)

df['unemployment_rate'] = df_ur_new['unemployment_rate']

In [15]:
#adding population
df_pp = df_pop.melt(id_vars=['State'])
df_pp = df_pp.rename(columns={"variable":"year", 'value':'population'})
df_pp = df_pp.sort_values(by=['State','year']).reset_index(drop=True)

df['population'] = df_pp['population']

In [16]:
#adding median household income
df_m = df_mhi.melt(id_vars=['State'])
df_m = df_m.rename(columns={"variable":"year", 'value':'median_income'})
df_m = df_m.sort_values(by=['State','year']).reset_index(drop=True)

df['median_hh_income'] = df_m['median_income']

In [17]:
#checking 
df.shape

(918, 9)

In [18]:
df

,State,year,tax_rate,business_applications,gdp,min_wage,unemployment_rate,population,median_hh_income
0,Alabama,2005,6.5,4730,1.588500e+11,5.15,4.5,4569805,53550
1,Alabama,2006,6.5,5229,1.664700e+11,5.15,4.0,4628981,53170
2,Alabama,2007,6.5,5138,1.729800e+11,5.15,4.0,4672840,57660
3,Alabama,2008,6.5,4979,1.745300e+11,6.55,5.7,4718206,58600
4,Alabama,2009,6.5,4396,1.709300e+11,7.25,11.0,4757938,52890
...,...,...,...,...,...,...,...,...,...
913,Wyoming,2018,0.0,19712,3.917200e+10,7.25,4.1,579054,72290
914,Wyoming,2019,0.0,18796,3.942800e+10,7.25,3.7,580116,74190
915,Wyoming,2020,0.0,24646,3.633000e+10,7.25,5.9,577605,73780
916,Wyoming,2021,0.0,33741,4.151000e+10,7.25,4.6,579483,76620
917,Wyoming,2022,0.0,41561,4.743300e+10,7.25,3.6,581381,73090

Saving the file

In [19]:
df.to_csv('combined.csv', index=False)